<h1>Songs</h1>

<ul>
<% @songs.each do |song| %>
   <p> <%= link_to song.title, song%> 
    <%if song.artist%>
        by <%= song.artist %></p>
    <% end %>
<%end%>
</ul>

<%= link_to 'New Song', new_song_path %>

<br>
<br>
<br>

<%= link_to 'Playlists', playlists_path %>