<h1>Playlists</h1>

<ul>
<% @playlists.each do |playlist| %>
   <p> <%= link_to playlist.title, playlist %> - <%= playlist.song_count %> songs</p>
<%end%>
</ul>

<br>
<%= link_to 'New Playlist', new_playlist_path %>
<br>
<br>
<br>


