<h1>Your Playlists</h1>

<ul>
<% @playlists.each do |playlist| %>
   <p> <%= link_to playlist.title, playlist %> - <%= playlist.song_count %> songs</p>
<%end%>
</ul>

<%= link_to 'New Playlist', new_playlist_path %>